@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&family=Source+Sans+Pro:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: #161616;
  font-family: "Source Sans Pro", sans-serif;
}

header .overlay {
  /* font-family: "Playfair Display", serif; */
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 3px rgb(44, 44, 44);
  background-image: linear-gradient(170deg, #70eef0cf 10%, #89e8c0c9 100%);
}

header .overlay .lead {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 80px;
  margin-bottom: 30px;
}

.date-time {
  font-family: "Playfair Display", serif;
}

h2.time-date {
  font-family: "Playfair Display", serif;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row-extra {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  /* font-family: "Playfair Display", serif; */
  color: #fff;
  font-size: x-large;
  /* border-top: 1px dashed #fff; */
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #70eef0cf;
  color: white;
  font-size: 1.25em;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* #past {
  background-color: rgb(182, 182, 182);
}

#present {
  background-color: #77dd77;
}

#future {
  background-color: #70eef0cf;
} */
